# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*~
.DS_Store

bin

logs/*.log

*.iml
.idea

etc/docker-compose/agent/mysql-agent*
etc/docker-compose/agent/supervise

.gitlab-ci.ymlr
.gitlab-ci.ymlrr
.travis.ymlr
.travis.ymlrr
agent/cleaner.gor
agent/config.gor
agent/config.gorr
agent/leader.gor
agent/metrics.gor
agent/node.gor
agent/registry.gor
agent/registry_test.gor
agent/registry_test.gorr
agent/server.gor
agent/server_test.gor
agent/server_test.gorr
agent/service_manager.gor
agent/util.gor
agent/util.gorr
agent/version.gor
agent/version.gorr
build.shr
checker/config.gor
checker/config.gorr
checker/server.gor
checker/server.gorr
cmd/mysql-agent-checker/main.gor
cmd/mysql-agent-checker/main.gorr
cmd/mysql-agent-service-boot/main.gor
cmd/mysql-agent-service-boot/main.gorr
cmd/mysql-agent-tear-down/main.gor
cmd/mysql-agent-tear-down/main.gorr
cmd/mysql-agent/main.gor
pkg/etcd/urls.gor
pkg/etcd/urls.gorr
pkg/mysql/mysql.gor
pkg/mysql/mysql.gorr
pkg/mysql/mysql_test.gor
pkg/mysql/mysql_test.gorr
pkg/systemcall/process.gor
pkg/systemcall/process.gorr
